.image {
  left: 64vw;
  bottom: 13vh;
  position: relative;
}

.container {
  background: rgb(238, 241, 227);
  border-radius: 3rem;
  position: relative;
  text-overflow: ellipsis;
  word-wrap: break-word;
  margin-top: 3%;
  left: 18vw;
  width: 45vw;
  min-height: 60vh;
}

.container p {
  color: #cd9f63;
  font-size: 4vh;
  position: relative;
  padding-left: 3%;
  top: 4vw;
}

.container h3 {
  color: #cd9f63;
  position: relative;
  top: 2vw;
  padding-left: 3%;
  font-size: 7vh;
}

.tab {
  position: relative;
  top: 6vw;
  box-sizing: border-box;
  margin: 0 auto;
  width: 30vw;
  display: flex;
  list-style-type:none;
  justify-content: space-between;
}

.second_link {
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 3vh;
  padding-bottom: 3vh;
  text-align: center;
  border-radius: 50%;
  border-style: solid;
  border-color: rgb(151, 93, 18);
  color: rgb(151, 93, 18);
  background-color: antiquewhite;
  font-size: 2vw;
  text-decoration: none;
}

.second_link:hover {
  background-color: rgb(151, 93, 18);
  color: white;
  border-style: solid;
  border-color: white;
}
