.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(116, 116, 116, 0.75);
}

.container {
  position: absolute;
  border-radius: 25%;
  top: 30%;
  left: 30%;
  width: 40%;
  height: 50%;
  overflow: hidden;
  background-color: white;
}

.container p {
  position: absolute;
  text-align: center;
  font-size: 330%;
  top: 15%;
  color: red;
}

.container button {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 35%;
  position: absolute;
  text-align: center;
  font-size: 230%;
  top: 65%;
  left: 35%;
  color: black;
}

.container button:hover {
    background-color: red;
    color: white;
    border-color: white;
}
