.image {
  left: 62vw;
  bottom: 6vh;
  position: relative;
}

.container {
  background: rgb(238, 241, 227);
  border-radius: 3rem;
  position: relative;
  text-overflow: ellipsis;
  margin-top: 3%;
  left: 23vw;
  width: 40vw;
  min-height: 50vh;
}

.container p {
  color: #cd9f63;
  font-size: 4vh;
  position: relative;
  left: 2vw;
  top: 4vw;
}

.container h3 {
  color: #cd9f63;
  position: relative;
  top: 2vw;
  left: 12vw;
  word-break: break-all;
  font-size: 8vh;
}

.link {
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 3vh;
  padding-bottom: 3vh;
  text-align: center;
  border-radius: 50%;
  border-style: solid;
  border-color: rgb(151, 93, 18);
  color: rgb(151, 93, 18);
  background-color: antiquewhite;
  font-size: 1vw;
  text-decoration: none;
  position: relative;
  left: 20vw;
  top: 3vh;
  box-sizing: border-box;
}

.link:hover {
  background-color: rgb(151, 93, 18);
  color: white;
  border-style: solid;
  border-color: white;
}