.image {
  left: 72vw;
  top: 53vh;
  position: relative;
}

.container {
  background: rgb(238, 241, 227);
  border-radius: 40px;
  position: relative;
  overflow:hidden;
  left: 23vw;
  bottom: 32vh;
  width: 50vw;
  height: 65vh;
}

.text {
  color: #cd9f63;
  font-size: 30px;
  white-space: nowrap;
  position: relative;
  left: 3vw;
  top: 10vh;
}

.text h3 {
  position: relative;
  left: 28vh;
  bottom: 5vh;
  font-size: 8vh;
}

.link {
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 4vh;
  padding-bottom: 4vh;
  text-align: center;
  border-radius: 50%;
  border-style: solid;
  border-color: rgb(151, 93, 18);
  color: rgb(151, 93, 18);
  background-color: antiquewhite;
  font-size: 2vw;
  text-decoration: none;
  position: relative;
  left: 20vw;
  bottom: 8vh;
}

.link:hover {
  background-color: rgb(151, 93, 18);
  color: white;
  border-style: solid;
  border-color: white;
}