.container {
  padding: 1%;
  margin-bottom: 5%;
  border: 1px solid #c1d1d1;
  display: block;
  border-radius: 3rem;
  width: 65vw;
  position: relative;
  top: 10vh;
  left: 15vw;
  background-color: whitesmoke;
}
.headline {
  text-align: left;
  padding-left: 3%;
  color: rgb(242, 179, 91);
  font-size: 5vh;
  font-family: cursive;
}

.headline_top {
  text-align: center;
  font-size: 7vh;
  color: rgb(242, 179, 91);
  font-family: cursive;
}

.input_author {
  position: relative;
  resize: none;
  font-size: 2.5vh;
  text-overflow: ellipsis;
  left: 2vw;
  width: 25vw;
  height: 5vh;
  border-radius: 1rem;
  font-family: cursive;
}

.input_title {
  position: relative;
  resize: none;
  font-size: 2.5vh;
  text-overflow: ellipsis;
  left: 2vw;
  width: 25vw;
  height: 5vh;
  border-radius: 1rem;
  font-family: cursive;
}

.input_text {
  position: relative;
  resize: none;
  font-size: 3vh;
  text-overflow: ellipsis;
  left: 2vw;
  width: 60vw;
  height: 30vh;
  border-radius: 1rem;
  font-family: cursive;
}

.btn {
  position:relative;
  width: 10vw;
  padding: 1%;
  border-radius: 20%;
  font-size: 3vh;
  left: 25vw;
  margin: 2%;
}

.btn:hover {
  color: white;
  background-color: rgb(242, 179, 91);
}
