.background {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background: linear-gradient(180deg, whitesmoke 0%, rgb(165, 230, 223) 100%);
  padding: 0;
  margin: 0;
  justify-content: center;
  color: rgb(165, 230, 223);
}

* {
  margin: 0;
  padding: 0;
}
